@import "tailwindcss";

@theme {
  --color-lumina-bg: #13111C;
  --color-lumina-surface: #1A1825;
  --color-lumina-accent: #7C5CFC;
  --color-lumina-outer: #2E2B3D;
}

body {
  background-color: var(--color-lumina-bg);
}
